@using TravelTripProject.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog List</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {   
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td><a onclick="myFunction(@item.Id)" class="btn btn-danger">Delete</a></td>
            <td><a href="/Admin/UpdateBlog/@item.Id" class="btn btn-warning">Update</a></td>
            <td><a href="/Blog/BlogDetails/@item.Id" class="btn btn-primary">Details</a></td>
        </tr>
    }
</table>

<a href="/Admin/AddNewBlog" class="btn btn-default">New Blog</a>

<script>
    function myFunction(id) {
        var txt;
        if (confirm("Are you sure about delete this blog?")) {
            window.location.href = "/Admin/DeleteBlog/" + id
        }
    }
</script>

